In [10]:
import numpy as np
import pandas as pd
import os

In [11]:
path = f"{os.getcwd()}"
df=pd.read_excel(r"C:\\Users\\rayya\\OneDrive\\Desktop\\Programs\\Financial-Management-Dataset-\\Financial_Data\\MoneyControl\\Companies\\IT Services & Consulting\\3i Infotech Ltd\\Excel\\Balance-sheet\\6_Mar0Mar05_Mar0Mar09.xlsx")
df

,Balance Sheet of 3i Infotech(in Rs. Cr.),Mar 09,Mar 08,Mar 07,Mar 06,Mar 05
0,NaN,12 mths,12 mths,12 mths,12 mths,12 mths
1,EQUITIES AND LIABILITIES,NaN,NaN,NaN,NaN,NaN
2,SHAREHOLDER'S FUNDS,NaN,NaN,NaN,NaN,NaN
3,Equity Share Capital,130.75,130.54,56.30,53.05,31.00
4,Total Share Capital,230.75,230.54,156.30,153.05,181.00
...,...,...,...,...,...,...
60,Non-Current Investments Quoted Market Value,--,--,--,--,--
61,Non-Current Investments Unquoted Book Value,"1,455.42","1,204.36",591.72,100.94,86.65
62,CURRENT INVESTMENTS,NaN,NaN,NaN,NaN,NaN
63,Current Investments Quoted Market Value,--,--,--,--,--
64,Current Investments Unquoted Book Value,--,--,--,--,--

In [18]:
df.dtypes

Balance Sheet of 3i Infotech(in Rs. Cr.)    object
Mar 09                                      object
Mar 08                                      object
Mar 07                                      object
Mar 06                                      object
Mar 05                                      object
dtype: object

In [ ]:
conver_int = df['Mar 09'].astype("float")
conver_int

KeyError: 'Mar-09'

In [21]:
headers = df.columns.tolist()
headers

['Balance Sheet of 3i Infotech(in Rs. Cr.)',
 'Mar 09',
 'Mar 08',
 'Mar 07',
 'Mar 06',
 'Mar 05']

In [25]:
first_col = df.iloc[:, 0]
first_col

0                                             NaN
1                        EQUITIES AND LIABILITIES
2                             SHAREHOLDER'S FUNDS
3                            Equity Share Capital
4                             Total Share Capital
                         ...
60    Non-Current Investments Quoted Market Value
61    Non-Current Investments Unquoted Book Value
62                            CURRENT INVESTMENTS
63        Current Investments Quoted Market Value
64        Current Investments Unquoted Book Value
Name: Balance Sheet of 3i Infotech(in Rs. Cr.), Length: 65, dtype: object