In [2]:
import numpy as np
import pandas as pd
import os
import re

In [ ]:
input_file = r"C:\Users\sharm\OneDrive\Desktop\Kishan\Data\Data Preporcessing\3i infotech\cleanedDataBS.xlsx"


df = pd.read_excel(input_file)
df.head(5)

,index,4,5,6,7,17,19,20,23,27,32,40,41
0,Balance Sheet of 3i Infotech(in Rs. Cr.),Total Share Capital,Reserves and Surplus,Total Reserves and Surplus,Total Shareholders Funds,Other Current Liabilities,Total Current Liabilities,Total Capital And Liabilities,Tangible Assets,Fixed Assets,Total Non-Current Assets,Total Current Assets,Total Assets
1,Mar 05,181,29.91,29.91,210.92,14,86.6,447.06,13.35,173.06,279.45,167.6,447.06
2,Mar 06,153.05,219.17,219.17,372.22,16.09,111.78,801.31,-9.63,209.38,332.04,469.27,801.31
3,Mar 07,156.3,305.35,305.35,461.65,12.97,133.11,1131.73,41.55,137.79,756.35,375.38,1131.73
4,Mar 08,230.54,414.45,414.45,644.98,20,170.76,2069.52,45.2,249.38,1492.13,577.4,2069.52

In [4]:
print(df.columns)  # This will show existing column names

Index(['index', 4, 5, 6, 7, 17, 19, 20, 23, 27, 32, 40, 41], dtype='object')

In [5]:
# Define the correct headers
correct_headers = [
    "Balance Sheet of 3i Infotech(in Rs. Cr.)", "Total Share Capital", "Reserves and Surplus",
    "Total Reserves and Surplus", "Total Shareholders Funds", "Other Current Liabilities",
    "Total Current Liabilities", "Total Capital And Liabilities", "Tangible Assets",
    "Fixed Assets", "Total Non-Current Assets", "Total Current Assets", "Total Assets"
]

# Rename the DataFrame columns
df.columns = correct_headers

In [6]:
df.head(5)

,Balance Sheet of 3i Infotech(in Rs. Cr.),Total Share Capital,Reserves and Surplus,Total Reserves and Surplus,Total Shareholders Funds,Other Current Liabilities,Total Current Liabilities,Total Capital And Liabilities,Tangible Assets,Fixed Assets,Total Non-Current Assets,Total Current Assets,Total Assets
0,Balance Sheet of 3i Infotech(in Rs. Cr.),Total Share Capital,Reserves and Surplus,Total Reserves and Surplus,Total Shareholders Funds,Other Current Liabilities,Total Current Liabilities,Total Capital And Liabilities,Tangible Assets,Fixed Assets,Total Non-Current Assets,Total Current Assets,Total Assets
1,Mar 05,181,29.91,29.91,210.92,14,86.6,447.06,13.35,173.06,279.45,167.6,447.06
2,Mar 06,153.05,219.17,219.17,372.22,16.09,111.78,801.31,-9.63,209.38,332.04,469.27,801.31
3,Mar 07,156.3,305.35,305.35,461.65,12.97,133.11,1131.73,41.55,137.79,756.35,375.38,1131.73
4,Mar 08,230.54,414.45,414.45,644.98,20,170.76,2069.52,45.2,249.38,1492.13,577.4,2069.52

In [7]:
if (df.iloc[0] == df.columns).all():
    df = df[1:].reset_index(drop=True)

In [8]:
df.head(5)

,Balance Sheet of 3i Infotech(in Rs. Cr.),Total Share Capital,Reserves and Surplus,Total Reserves and Surplus,Total Shareholders Funds,Other Current Liabilities,Total Current Liabilities,Total Capital And Liabilities,Tangible Assets,Fixed Assets,Total Non-Current Assets,Total Current Assets,Total Assets
0,Mar 05,181,29.91,29.91,210.92,14,86.6,447.06,13.35,173.06,279.45,167.6,447.06
1,Mar 06,153.05,219.17,219.17,372.22,16.09,111.78,801.31,-9.63,209.38,332.04,469.27,801.31
2,Mar 07,156.3,305.35,305.35,461.65,12.97,133.11,1131.73,41.55,137.79,756.35,375.38,1131.73
3,Mar 08,230.54,414.45,414.45,644.98,20,170.76,2069.52,45.2,249.38,1492.13,577.4,2069.52
4,Mar 09,230.75,515.9,515.9,746.65,145.62,467.05,2657.52,219.62,452.16,1967.23,690.29,2657.52

In [9]:
output_file = r"C:\Users\sharm\OneDrive\Desktop\Kishan\Data\Data Preporcessing\3i infotech\cleanedDataBS_2.xlsx"
df.to_excel(output_file,index=False)

In [ ]:
# # Read specific sheets into corresponding DataFrames
# bs_df = dfs.get("Balance-sheet")
# cf_df = dfs.get("Cash-flow")
# pl_df = dfs.get("Profit-loss")
# qua_df = dfs.get("Quarterly-resul")
# ra_df = dfs.get("Ratios")
# ye_df = dfs.get("Year")

# # Display first few rows of each DataFrame to verify
# print("Balance Sheet DataFrame:")
# print(bs_df.head(4))

# # print("\nCash Flow DataFrame:")
# # print(cf_df.head())

# # print("\nProfit & Loss DataFrame:")
# # print(pl_df.head())

# # print("\nQuarterly DataFrame:")
# # print(qua_df.head())

# # print("\nRatio DataFrame:")
# # print(ra_df.head())

# # print("\nYearly DataFrame:")
# # print(ye_df.head())

Balance Sheet DataFrame:
                                      index                    4  \
0  Balance Sheet of 3i Infotech(in Rs. Cr.)  Total Share Capital
1                                    Mar 09               230.75
2                                    Mar 08               230.54
3                                    Mar 07                156.3

                      5                           6                         7  \
0  Reserves and Surplus  Total Reserves and Surplus  Total Shareholders Funds
1                 515.9                       515.9                    746.65
2                414.45                      414.45                    644.98
3                305.35                      305.35                    461.65

                          17                         19  \
0  Other Current Liabilities  Total Current Liabilities
1                     145.62                     467.05
2                         20                     170.76
3                      12.97                     133.11

                              20               23            27  \
0  Total Capital And Liabilities  Tangible Assets  Fixed Assets
1                        2657.52           219.62        452.16
2                        2069.52             45.2        249.38
3                        1131.73            41.55        137.79

                         32                    40            41
0  Total Non-Current Assets  Total Current Assets  Total Assets
1                   1967.23                690.29       2657.52
2                   1492.13                 577.4       2069.52
3                    756.35                375.38       1131.73

In [18]:
bs_df.iloc[0,:]

index    Balance Sheet of 3i Infotech(in Rs. Cr.)
4                             Total Share Capital
5                            Reserves and Surplus
6                      Total Reserves and Surplus
7                        Total Shareholders Funds
17                      Other Current Liabilities
19                      Total Current Liabilities
20                  Total Capital And Liabilities
23                                Tangible Assets
27                                   Fixed Assets
32                       Total Non-Current Assets
40                           Total Current Assets
41                                   Total Assets
Name: 0, dtype: object

In [15]:
bs_df["Total Share Capital"]

KeyError: 'Total Share Capital'